@media (min-width: 1440px) {
  .page-id-0 .ali-controling-the-top-sec-all-course,
  .page-id-0 .ali-all-course-top-ad,
  .page-id-0 .the-ali-categories,
  .page-id-0 .ali-all-course-controling-content,
  .page-id-0 .for-all-course-bottom-ad,
  .page-id-0 .ali-course-accord {
    width: 1550px;
  }
}

.page-id-0 .ali-all-course-top-ad {
  text-align: center;
  margin: 20px;
}

.page-id-0 section.for-ali-all-course-right-ad {
  position: fixed;
  top: 200px;
  right: 0;
}

.page-id-0 .ali-controling-the-top-sec-all-course .pagetitle h1 {
  color: #30373c;
  font-size: 2.4375em;
  display: inline;
  font-weight: 400;
  font-family: "Roboto";
}

.page-id-0 .ali-controling-the-top-sec-all-course .for-first-flexing {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 8px;
  height: auto;
  margin: 0 0 25px;
  box-shadow: 0 2px 6px 0 rgb(50 50 50 / 40%);
  overflow: hidden;
}

.page-id-0
  .ali-controling-the-top-sec-all-course
  .for-first-flexing
  .pagetitle {
  padding: 0 15px;
}

.page-id-0 .the-ali-categories .the-actual-categories-div {
  background: #dfe0e1;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgb(50 50 50 / 40%);
  margin-bottom: 25px;
  min-height: 180px;
  padding: 50px 0;
}

.page-id-0 .the-actual-categories-div ul li a {
  color: #0094c9;
  background: #fff;
  padding: 20px 65px;
  border-radius: 5px;
  margin: 20px;
  transition: all 0.5s ease-in-out;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  font-family: "Roboto";
  text-transform: capitalize;
  box-shadow: none;
}

.page-id-0 .the-actual-categories-div ul li {
  display: inline-block;
  margin: 10px 0;
}

.page-id-0 .dir-form div#subnav ul li h1 {
  color: #000;
  font-family: "Roboto";
  font-weight: 400;
  text-align: left;
  font-size: 25px;
  text-transform: capitalize;
  line-height: 25px;
}

.page-id-0 .dir-form div#subnav ul {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.page-id-0 #buddypress .item-list-tabs#subnav {
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  display: inline-block;
}

.page-id-0 .for-all-course-bottom-ad {
  text-align: center;
  margin: 20px 0;
}

.page-id-0 .dir-list div#pag-top {
  display: none !important;
}

.page-id-0 #buddypress ul.item-list {
  border: 0;
}

/* tabs accordion  */

.page-id-0 .panel-default > .panel-heading {
  background-color: #e9eef2;
  color: #5d666d;
  cursor: pointer;
  height: 55px;
  line-height: 55px;
  padding: 0 3%;
  position: relative;
  width: 100%;
}

.page-id-0 .panel-default > .panel-heading a {
  display: block;
  padding: 17px 15px;
}

.page-id-0 .panel-default > .panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform 0.25s linear;
  -webkit-transition: -webkit-transform 0.25s linear;
}

.page-id-0 .panel-default > .panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.page-id-0 .panel-default > .panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.page-id-0 .panel-default > .panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .page-id-0 .the-actual-categories-div ul li {
    margin: 30px 0;
  }

  .page-id-0 .the-actual-categories-div ul li a {
    padding: 20px 40px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .page-id-0 .ali-controling-the-top-sec-all-course .for-first-flexing {
    flex-direction: column-reverse;
    margin: 0 0 20px;
  }
  .page-id-0 .ali-controling-the-top-sec-all-course .pagetitle h1 {
    display: initial;
    text-align: center;
  }

  .page-id-0 .the-actual-categories-div ul li {
    margin: 30px 0;
  }
}
